.blue-gradient{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 50%);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    --img-url: url(assests/me\ 2.jpg);
}

section{
    padding: 80px 0;
}  

.home-section{
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 10% 0;
}

.home-section .banner-content{
    vertical-align: middle;
    align-self: center;
}

                /*Navbar animation and style*/
/*Starts*/
::-webkit-scrollbar{
    width: 6px;
}
.head_wrapper .navbar{
    padding: 15px 0;
    -webkit-transition: all .2s linear ;
    -o-transition: all .2s linear ;
    transition: all .2s linear ;
}
.head_wrapper .navbar-toggler{
    border: 0;
    color: blue ;
    line-height: 2px;
}
.head_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.head_wrapper .nav-item{
    margin: 0 10px;
}
.head_wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    color: aliceblue;
}
.head_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1) );
    transition: 0.3s;
    bottom: 0;
}
.head_wrapper .nav-item .nav-link.active::after,
.head_wrapper .nav-item .nav-link:hover::after{
     width: 100%;
}
.head_wrapper .nav-item .nav-link.active,
.head_wrapper .nav-item .nav-link:hover{
     color: whitesmoke
}
/*Ends*/

.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
     color: whitesmoke
}
 
                /*Main logo pic of mine*/
/*Starts*/
.headshot {
	flex-shrink: 0;
	margin: 20px;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.headshot-1 {
	border-radius: 50%;
	background-image: var(--img-url), linear-gradient(to right, #0dcaf0, #0d6efd, #6610f2);
}
/*Ends*/

                /* Button Styling*/
/*Starts*/
.main-btn{
    display: flex;
    align-items: center;
    width: 200px;
    transition: all .3s ease-in-out;
    --webkit-transition: all .3s ease-in-out;
}
.primary-btn{
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #0dcaf0 10%, #0d6efd 51%, #6610f2 100%);
    text-decoration: none;
    border: black;
}
.primary-btn:hover{
    background-position: right center;
    color: whitesmoke;
}
/*Ends*/

                /* Intro part styling */
/*Starts*/
.intro h2{
    font-size: 39px;
    line-height: 60px;
    font-weight: 500; 
    color: white !important;
}
.intro h4{
    font-size: 39px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(top, #0dcaf0, #0d6efd, #6610f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro h6{
    font-size: 17px;
    line-height: 36px;
    font-weight: 350;
    margin-bottom: 8px;
    color: white !important;
}
.intro .text{
    font-size: 39px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(top, #0dcaf0, #0d6efd, #6610f2 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro p{
    font-size: 16px;
    font-weight: 225;
    color: white !important;
    width: 625px;
}
/*Ends*/

.line{
    max-width: 1290px;
    background: #888888;
    justify-items: center;
    margin: 0 auto;
}

                /*About Section*/
/*Starts*/
.content{
    color: white !important;
}
.underline{
    height: 8px;
    background-image: #0dcaf0;
    border: 0;
    height: 5px;
    width: 65px;
}
#cv{
    padding-top: 20px;
}
/*Ends*/

                /*About-info*/
/*Starts*/
.about{
    padding-bottom: 50px;
    color: white;
}
.about h2{
    font-weight: 600;
    font-size: 35px;
    margin: 0 0 20px;
    position: relative;
    vertical-align: top;
    z-index: 1;
    text-transform: uppercase;
    color: #fff;
}
.about p{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/*Ends*/

                /*About info-media*/
/*Starts*/
.media{
    display: flex;
    padding: 10px 0;
}
.media label {
    font-size: 14px;
    font-weight: 800;
    max-width: 90px;
    flex: 0 0 90px ;
    border-right: 1px solid rgba(255, 255, 255, 0.1) ; 
}
.media p{
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 14px;
}
/*Ends*/

                /*Aboutimage*/
/*Starts*/
.main{
    position: relative;
    z-index: 1;
    padding: 10px;
    background-image: linear-gradient(to right, #0dcaf0, #0d6efd, #6610f2);
}
.social-icons{
    background-image: linear-gradient(to right, #0dcaf0, #0d6efd, #6610f2);
    background-size: 370% 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 0 20px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}
.social-icons a{
    color: white;
    font-size: 20px; 
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    text-decoration: none;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(180%) blur(20px);
}
.social-icons a:hover{
    color: whitesmoke;
    transition: all.3s ease-in-out;
    background-image: linear-gradient(to left, #0dcaf0, #0d6efd);
    
}
/*Ends*/

                /*Skills section*/
/*Starts*/
.skills  h6{
    font-size: 16px;
    margin-bottom: 10px;
    color: #C0C0C0;
}
.skills{
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}
.skills .progress{
    position: relative;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: saturate(180%) blur(20px);
}
.skills .progress-bar{
    background: linear-gradient(to right, #0dcaf0 30%, #0d6efd 100%);
    transition: ease all 0.55s;
    position: relative;
}
.skills span{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #C0C0C0;
}
/*Ends*/

/*Starts*/
.contact-form{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgb(0, 0, 50);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 15px;
    padding: 35px;
}
.contact-form h5 {
    color: #fff;
    margin-bottom: 16px;
    font-size: 16px;
}
.form-control {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    border-radius: 5px;
}
.contact-form .form-control {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.775rem 1.05rem;
    box-shadow: none;
    color: #fff;
}


