.blue-gradient{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    --img-url: url(assests/me\ 2.jpg);
}

section{
    padding: 80px 0;
}  

.home-section{
    position: relative;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

                /*Navbar animation and style*/
/*Starts*/
::-webkit-scrollbar{
    width: 6px;
}
.head_wrapper .navbar{
    padding: 15px 0;
    -webkit-transition: all .2s linear ;
    -o-transition: all .2s linear ;
    transition: all .2s linear ;
}
.head_wrapper .navbar-toggler{
    border: 0;
    color: blue ;
    line-height: 2px;
}
.head_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.head_wrapper .nav-item{
    margin: 0 10px;
}
.head_wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
}
.head_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1) );
    transition: 0.3s;
    bottom: 0;
}
.head_wrapper .nav-item .nav-link.active::after,
.head_wrapper .nav-item .nav-link:hover::after{
     width: 100%;
}
/*Ends*/

                /*Main logo pic of mine*/
/*Starts*/
.headshot {
	flex-shrink: 0;
	margin: 20px;
	height: calc(150px + 6vw);
	width: calc(150px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.headshot-2 {
	border-radius: 50%;
	background-image: var(--img-url), linear-gradient(to right, #0dcaf0, #0d6efd, #6610f2);
}
/*Ends*/

                /* Button Styling*/
/*Starts*/
.main-btn{
    display: flex;
    align-items: center;
    width: 200px;
    transition: all .3s ease-in-out;
    --webkit-transition: all .3s ease-in-out;
}
.primary{
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 20px;
    border-radius: 50px;
}
.btn{
    background-image: linear-gradient(to right, #0dcaf0 10%, #0d6efd 51%, #6610f2 100%);
}
.primary:hover{
    background-position: right center;
    color: whitesmoke;
}
/*Ends*/

                /* Intro part styling */
/*Starts*/
.intro h2{
    font-size: 39px;
    line-height: 60px;
    font-weight: 500; 
    color: white !important;
}
.intro h4{
    font-size: 39px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(top, #0dcaf0, #0d6efd, #6610f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro h6{
    font-size: 17px;
    line-height: 36px;
    font-weight: 350;
    margin-bottom: 8px;
    color: white !important;
}
.intro .text{
    font-size: 39px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(top, #0dcaf0, #0d6efd, #6610f2 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro p{
    font-size: 16px;
    font-weight: 225;
    color: white !important;
    width: 625px;
}
/*Ends*/